<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
      
        {{>header}}
          <p>The site was created by Shincy Wilson.It uses data from mapbox.com and darksky.net!</p>
        <img class="portrait" src="./img/ima.jpeg" alt="image">
    </div>
    
    {{>footer}}
</body>

</html>